<section class="MovieCategory">
  <h2 class="MovieCategoryName">{{CateName}}</h2>
  <div class="MovieCategoryItem">
    {{List}}
  </div>
<a href="#" class="movieCategory__view-all">
  <span class="movieCategory__view-all-text">Voir tout</span>
  <span class="movieCategory__view-all-icon">
    <svg class="movieCategory__svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 12h14M12 5l7 7-7 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </span>
</a>
</section>
