<div class="Feature">
  <div class="Feature__arrow Feature__arrow--left">
    <svg class="Feature__arrow-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <ul class="Feature__list">
    {{Feature}}
  </ul>

  <div class="Feature__arrow Feature__arrow--right">
    <svg class="Feature__arrow-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <div class="Feature__pagination">
    <span class="Feature__dot Feature__dot--active"></span>
    <span class="Feature__dot"></span>
    <span class="Feature__dot"></span>
  </div>
</div>