<nav class="navbar font-sans">
  <ul class="navbar__list">
    <div class="navbar__logo-container">
      <img class="navbar__logo" src="../server/images/Rakuten.png" alt="" onclick="C.handlerHome()">
    </div>
    <li class="navbar__item-home" ><a href="#" onclick="C.handlerHome()">Home</a></li>
    <li class="navbar__item-deconnexion" onclick="C.handlerLogout()">Déconnexion</li>
    <li class="navbar__item">
      <select id="navbar__select">
        <option class="navbar__choisir" value="">-- Choisir un profil --</option>
        {{navbar__profils}}
      </select>
      <button class="navbar__btn" onclick="C.hSelectProfil()">Valider</button>
    </li>
  </ul>
</nav>
